@import "tailwindcss";


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
  } 
.rotate-portrait {
  transform: rotate(0deg); /* Keep portrait upright */
}

  